
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3c9dd;
    text-align: center;
}

nav {
    background-color: #d18acb;
    padding: 12px;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 18px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    color: #4a0b68;
}

/* Home page */
.home-img {
    width: 350px;
    border-radius: 15px;
}

h1, h2 {
    color: #4a0b68;
}

/* Products Grid */
.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 20px 50px;
}

.product-card {
    background: white;
    padding: 12px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.product-card img {
    width: 160px;
    height: 160px;
    object-fit: contain;
}

button {
    background-color: #7d42a3;
    border: none;
    padding: 10px 18px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
}

button:hover {
    background-color: #51206a;
}

/* About Us */
.about-box {
    width: 60%;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.about-img {
    width: 180px;
    border-radius: 15px;
    margin-bottom: 20px;
}


.contact-box {
    width: 320px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

input, textarea {
    width: 90%;
    padding: 8px;
    border-radius: 8px;
    margin-top: 10px;
    border: 1px solid #999;
}

textarea {
    height: 80px;
}
 